<div class="container-fluid">
    <h2 class="text-center">New Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name"> Quote</label>
            <input type="text" required class="form-control" id="name" name="name">
  
        </div>
        <div class="form-group">
  
            <label for="Author">Author</label>
             <input type="text" required class="form-control" id="author" name="name" required>
  
        </div>

        <div class="form-group">
  
            <label for="Submitted">Submitted by</label>
             <input type="text" required class="form-control" id="submitted" name="name" required>
            </div>

            <button type="submit" class="btn btn-success btn-lg">Submit Quote!</button>
    </form>
  </div>